(
  id: "Crystal",
  fields: [
    (
      name: "Reference",
      text: (text: "Y?", at: (x: 0, y: 3810000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "Crystal", at: (x: 0, y: -3810000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Two-pin crystal", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "quartz ceramic resonator oscillator",
  footprint_filters: [
    "Crystal*",
  ],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: false,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Polyline(pts: [(x: -1905000, y: -1524000), (x: -1905000, y: 1524000)], closed: false), stroke: (width: 508000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 1905000, y: -1524000), (x: 1905000, y: 1524000)], closed: false), stroke: (width: 508000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1143000, y: -2286000), b: (x: 1143000, y: 2286000)), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: -2286000, y: 0), (x: -1905000, y: 0)], closed: false), stroke: (width: 0, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 2286000, y: 0), (x: 1905000, y: 0)], closed: false), stroke: (width: 0, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "1",
      kind: Passive,
      shape: Line,
      at: (x: -3810000, y: 0),
      angle: 0.0,
      length: 1524000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "2",
      name: "2",
      kind: Passive,
      shape: Line,
      at: (x: 3810000, y: 0),
      angle: 180.0,
      length: 1524000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)