(
  id: "FerriteBead",
  fields: [
    (
      name: "Reference",
      text: (text: "FB?", at: (x: 2540000, y: 1270000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "FerriteBead", at: (x: 2540000, y: -1270000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Ferrite bead", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "L ferrite bead inductor filter",
  footprint_filters: [
    "Inductor_*",
    "L_*",
    "*Ferrite*",
  ],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: false,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Polyline(pts: [(x: 898000, y: 1796000), (x: 1796000, y: 898000), (x: -898000, y: -1796000), (x: -1796000, y: -898000), (x: 898000, y: 1796000)], closed: false), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 0, y: 2540000), (x: 0, y: 898000)], closed: false), stroke: (width: 0, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 0, y: -2540000), (x: 0, y: -898000)], closed: false), stroke: (width: 0, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "~",
      kind: Passive,
      shape: Line,
      at: (x: 0, y: 3810000),
      angle: 270.0,
      length: 1270000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "2",
      name: "~",
      kind: Passive,
      shape: Line,
      at: (x: 0, y: -3810000),
      angle: 90.0,
      length: 1270000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)