(
  id: "R_Pot",
  fields: [
    (
      name: "Reference",
      text: (text: "RV?", at: (x: 3810000, y: 1270000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "R_Pot", at: (x: 3810000, y: -1270000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Potentiometer", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "resistor variable potentiometer",
  footprint_filters: [
    "Potentiometer*",
  ],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: false,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Rect(a: (x: -1016000, y: -2540000), b: (x: 1016000, y: 2540000)), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 1143000, y: 0), (x: 1778000, y: 381000), (x: 1778000, y: -381000), (x: 1143000, y: 0)], closed: true), stroke: (width: 0, style: Default, color: None), fill: Outline)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: 1778000, y: 0), (x: 2286000, y: 0)], closed: false), stroke: (width: 0, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "~",
      kind: Passive,
      shape: Line,
      at: (x: 0, y: 3810000),
      angle: 270.0,
      length: 1270000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "2",
      name: "W",
      kind: Passive,
      shape: Line,
      at: (x: 3810000, y: 0),
      angle: 180.0,
      length: 1524000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "3",
      name: "~",
      kind: Passive,
      shape: Line,
      at: (x: 0, y: -3810000),
      angle: 90.0,
      length: 1270000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)