(
  id: "AMS1117-1.8",
  fields: [
    (
      name: "Reference",
      text: (text: "U?", at: (x: -3810000, y: 3175000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "AMS1117-1.8", at: (x: 0, y: 3175000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "Package_TO_SOT_SMD:SOT-223-3_TabPin2", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "1 A low dropout linear regulator, fixed 1.8 V output, SOT-223", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "linear regulator ldo fixed positive",
  footprint_filters: [],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: true,
  show_pin_names: true,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Rect(a: (x: -5080000, y: 1905000), b: (x: 5080000, y: -5080000)), stroke: (width: 254000, style: Default, color: None), fill: Background)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "GND",
      kind: PowerIn,
      shape: Line,
      at: (x: 0, y: -7620000),
      angle: 90.0,
      length: 4445000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "2",
      name: "VO",
      kind: PowerOut,
      shape: Line,
      at: (x: 7620000, y: 0),
      angle: 180.0,
      length: 2540000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "3",
      name: "VI",
      kind: PowerIn,
      shape: Line,
      at: (x: -7620000, y: 0),
      angle: 0.0,
      length: 2540000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)