(
  id: "LED_0603_1608Metric",
  description: "LED chip 0603 (1608 metric), 1.6 × 0.8 mm",
  keywords: "led 0603",
  fields: [
    (
      name: "Reference",
      text: (text: (text: "REF**", at: (x: 0, y: 1400000), angle: 0.0, style: (size: (w: 1000000, h: 1000000), thickness: Some(150000), h_align: Center, v_align: Center), visible: true), layer: TopSilk, keep_upright: true),
    ),
    (
      name: "Value",
      text: (text: (text: "LED_0603_1608Metric", at: (x: 0, y: -1400000), angle: 0.0, style: (size: (w: 1000000, h: 1000000), thickness: Some(150000), h_align: Center, v_align: Center), visible: true), layer: TopFab, keep_upright: true),
    ),
  ],
  attrs: (
    mount: Smd,
    board_only: false,
    exclude_from_pos: false,
    exclude_from_bom: false,
    dnp: false,
    allow_missing_courtyard: false,
  ),
  pads: [
    (
      number: "1",
      kind: Smd,
      shape: RoundRect(ratio: 0.25),
      at: (x: -775000, y: 0),
      angle: 0.0,
      size: (w: 900000, h: 950000),
      drill: None,
      layers: [TopCopper, TopMask, TopPaste],
    ),
    (
      number: "2",
      kind: Smd,
      shape: RoundRect(ratio: 0.25),
      at: (x: 775000, y: 0),
      angle: 0.0,
      size: (w: 900000, h: 950000),
      drill: None,
      layers: [TopCopper, TopMask, TopPaste],
    ),
  ],
  shapes: [
    (
      shape: (geom: Rect(a: (x: -800000, y: -400000), b: (x: 800000, y: 400000)), stroke: (width: 100000, style: Default, color: None), fill: r#None),
      layer: TopFab,
    ),
    (
      shape: (geom: Rect(a: (x: -1475000, y: -725000), b: (x: 1475000, y: 725000)), stroke: (width: 50000, style: Default, color: None), fill: r#None),
      layer: TopCourtyard,
    ),
  ],
  texts: [
    (
      text: (text: "${REFERENCE}", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1000000, h: 1000000), thickness: Some(150000), h_align: Center, v_align: Center), visible: true),
      layer: TopFab,
      keep_upright: true,
    ),
  ],
  models: [
    (
      source: "LED_SMD.3dshapes/LED_0603_1608Metric.step",
      blob: None,
      offset: (0.0, 0.0, 0.0),
      rotation: (0.0, 0.0, 0.0),
      scale: (1.0, 1.0, 1.0),
      visible: true,
      opacity: 1.0,
      body: Some((parts: [(solid: Box(min: (-0.48, -0.4, 0.0), max: (0.48, 0.4, 0.33599999999999997)), color: (235, 235, 228)), (solid: Box(min: (-0.8, -0.4, 0.0), max: (-0.48, 0.4, 0.33599999999999997)), color: (196, 198, 202)), (solid: Box(min: (0.48, -0.4, 0.0), max: (0.8, 0.4, 0.33599999999999997)), color: (196, 198, 202)), (solid: Box(min: (-0.48, -0.32000000000000006, 0.33599999999999997), max: (0.48, 0.32000000000000006, 0.5599999999999999)), color: (220, 40, 40))])),
    ),
  ],
  zones: [],
)