(
  id: "Conn_01x09",
  fields: [
    (
      name: "Reference",
      text: (text: "J?", at: (x: 0, y: 12700000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "Conn_01x09", at: (x: 0, y: -12700000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Generic connector, single row, 9 pins", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "connector",
  footprint_filters: [
    "Connector*:*_1x??_*",
  ],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: true,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 11430000), b: (x: 1270000, y: -11430000)), stroke: (width: 254000, style: Default, color: None), fill: Background)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 10287000), b: (x: 0, y: 10033000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 7747000), b: (x: 0, y: 7493000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 5207000), b: (x: 0, y: 4953000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 2667000), b: (x: 0, y: 2413000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: 127000), b: (x: 0, y: -127000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: -2413000), b: (x: 0, y: -2667000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: -4953000), b: (x: 0, y: -5207000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: -7493000), b: (x: 0, y: -7747000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Rect(a: (x: -1270000, y: -10033000), b: (x: 0, y: -10287000)), stroke: (width: 152400, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "Pin_1",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: 10160000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "2",
      name: "Pin_2",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: 7620000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "3",
      name: "Pin_3",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: 5080000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "4",
      name: "Pin_4",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: 2540000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "5",
      name: "Pin_5",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: 0),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "6",
      name: "Pin_6",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: -2540000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "7",
      name: "Pin_7",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: -5080000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "8",
      name: "Pin_8",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: -7620000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
    (
      number: "9",
      name: "Pin_9",
      kind: Passive,
      shape: Line,
      at: (x: -5080000, y: -10160000),
      angle: 0.0,
      length: 3810000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)