(
  id: "TestPoint",
  fields: [
    (
      name: "Reference",
      text: (text: "TP?", at: (x: 1524000, y: 4318000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "TestPoint", at: (x: 1524000, y: 2540000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Test point", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "test point tp",
  footprint_filters: [
    "Pin*",
    "Test*",
  ],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: false,
  show_pin_numbers: false,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: true,
  on_board: true,
  graphics: [
    (
      item: Shape((geom: Circle(center: (x: 0, y: 3048000), radius: 762000), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "1",
      kind: Passive,
      shape: Line,
      at: (x: 0, y: 0),
      angle: 90.0,
      length: 2286000,
      visible: true,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)