(
  id: "-5V",
  fields: [
    (
      name: "Reference",
      text: (text: "#PWR?", at: (x: 2540000, y: 1270000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Left, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Value",
      text: (text: "-5V", at: (x: 0, y: -3810000), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: true),
      show_name: false,
    ),
    (
      name: "Footprint",
      text: (text: "", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Datasheet",
      text: (text: "~", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
    (
      name: "Description",
      text: (text: "Power symbol creates a global label with name \"-5V\"", at: (x: 0, y: 0), angle: 0.0, style: (size: (w: 1270000, h: 1270000), h_align: Center, v_align: Center), visible: false),
      show_name: false,
    ),
  ],
  keywords: "global power",
  footprint_filters: [],
  unit_count: 1,
  units_swappable: false,
  unit_names: [],
  has_alternate: false,
  power: true,
  show_pin_numbers: false,
  show_pin_names: false,
  pin_name_offset: 508000,
  in_bom: false,
  on_board: false,
  graphics: [
    (
      item: Shape((geom: Polyline(pts: [(x: 0, y: 0), (x: 0, y: -1905000)], closed: false), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
    (
      item: Shape((geom: Polyline(pts: [(x: -762000, y: -1270000), (x: 0, y: -2540000), (x: 762000, y: -1270000)], closed: false), stroke: (width: 254000, style: Default, color: None), fill: r#None)),
      unit: 0,
      style: 0,
    ),
  ],
  pins: [
    (
      number: "1",
      name: "-5V",
      kind: PowerIn,
      shape: Line,
      at: (x: 0, y: 0),
      angle: 270.0,
      length: 0,
      visible: false,
      name_size: 1270000,
      number_size: 1270000,
      unit: 0,
      style: 0,
    ),
  ],
)